.preloader-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #F4F7FD;
}
.preloader-svg {
    width: 100px;
    height: 100px;
    margin: 20px;
    display: inline-block;
    fill: #3f547e;
    animation: loader 5s linear 0s infinite alternate forwards;
}
.preloader-enter{
    opacity: 0;
}
.preloader-enter-active{
    opacity: 1;
    transition: opacity 3s linear;
}
.preloader-exit{
    opacity: 1;
}
.preloader-exit-active{
    opacity: 0;
    transition: opacity 3s linear;
}

@keyframes loader {
    0%{
        fill: #e00038;
    }
    20%{
        fill: #d1ce00;
    }
    40%{
        fill: #15b800;
    }
    60%{
        fill: #00c0b6;
    }
    80%{
        fill: #3f547e;
    }
    100%{
        fill: #c900b8;
    }
}