.dialog_wrapper {
    display: flex;
    align-items: center;
    padding: 8px 16px 8px 20px;
    cursor: pointer;
    transition: background-color 0.1s linear;
    &:hover {
        background-color: #f3f7ff;
    }
}
.avatar_wrapper {
    position: relative;
    flex-shrink: 0;
    width: 45px;
    height: 45px;
}
.dialog_info {
    flex-grow: 1;
    margin-left: 10px;
}
.dialog_infoRow {
    display: flex;
    justify-content: space-between;
    & + & {
        margin-top: 3px;
        align-items: center;
    }
}
.user_fillname {
    font-weight: 500;
    line-height: 1.15;
    padding-right: 15px;
}
.user_date {
    flex-shrink: 0;
    font-size: 12px;
    opacity: 0.4;
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dialog_message {
    opacity: 0.4;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dialog_status {
    span {
        display: inline-block;
        width: 24px;
        height: 24px;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        color: white;
        background-color: #f46b6b;
        border-radius: 50%;
    }
}
