.home_wrapper{
    background-color: #F4F7FD;
}
.home_grid{
    width: 100%;
    height: calc(100vh - 20px);
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-rows: 60px 1fr;
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04204);
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    grid-column: 1 / 3;
    .header_sidebar{
        width: 320px;
        min-height: 60px;
        padding: 10px 17px 10px 20px;
        display: flex;
        align-items: center;
        .header_sidebarWrapper{
            display: flex;
            align-items: center;
            width: 100%;
        }
        .header_sidebarSuffix img{
            flex-shrink: 0;
            width: 18px;
            height: 18px;
            object-fit: contain;
        }
        .header_sidebarTitle{
            flex: 1 1 0;
            line-height: 1.1;
            opacity: 0.65;
            margin: 0 15px 0 8px;
        }
        .header_sidebarPrefix{
            opacity: 0.65;
            cursor: pointer;
        }
    }
    .header_main{
        position: relative;
        height: 100%;
        min-height: 60px;
        flex: 1 1 0;
        border-left: 1px solid #E8EAEC;
        .user_info{
            height: 100%;
            margin: 0 60px;
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .user_fullname{
            font-weight: 500;
        }
        .user_status{
            position: relative;
            color: rgba($color: #202020, $alpha: 0.3);
            padding-left: 13px;
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-45%);
                left: 3px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #00C980;
            }
        }
        .filter_btn{
            position: absolute;
            top: 50%;
            right: 35px;
            transform: translateY(-50%);
            width: 20px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            padding: 5px 0;
            span{
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #AAAAAA;
            }
        }
    }
}
.home_dialogs{
    border-top: 1px solid #E8EAEC;
    .dialogs_track{
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        max-height: calc(100vh - 60px - 78px - 10px - 20px);
        overflow-y: auto;
    }
}
.home_main{
    display: grid;
    grid-template-rows: 1fr auto;
    border-left: 2px solid #E8EAEC;
    border-top: 1px solid #E8EAEC;
    .massages_track{
        padding: 0px 35px;
        overflow-y: auto;
    }
}
.dialogs_searchWrapper{
    position: relative;
    padding: 20px 15px 20px 20px;    
    &::before{
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        height: 10px;
    }
}
.send_panel{
    max-width: 550px;
    margin: 0 auto;
    padding: 10px 15px 30px;
}